
	<div class="row">
		<div class="col-lg-4 col-xl-3">
			<include src="speaker.html"></include>
		</div>
		<div class="col-lg-4 col-xl-3">
			<include src="speaker.html"></include>
		</div>
		<div class="col-lg-4 col-xl-3">
			<include src="speaker.html"></include>
		</div>
		<div class="col-lg-4 col-xl-3">
			<include src="speaker.html"></include>
		</div>
		<div class="col-lg-4 col-xl-3">
			<include src="speaker.html"></include>
		</div>
		<div class="col-lg-4 col-xl-3">
			<include src="speaker.html"></include>
		</div>
		<div class="d-none d-xl-block col-xl-3">
			<include src="speaker.html"></include>
		</div>
		<div class="d-none d-xl-block col-xl-3">
			<include src="speaker.html"></include>
		</div>					
	</div>
