<div class="row">
	<div class="col-md-3">

		<div class="information">
			<div class="information__header">
				<div class="title-lg">35</div>
				<div class="title-md upper">Спикеров</div>
			</div>
			<ul class="information__links">
				<li><a href="#">Тема 1 Бизнес в пандемию</a></li>
				<li><a href="#">Тема 2 b2b</a></li>
				<li><a href="#">Тема 3</a></li>
				<li><a href="#">Тема 4</a></li>
				<li><a href="#">Тема 5</a></li>
			</ul>

			<div class="custom-controll">
				<button class="prev-slide slide-botton"></button>
				<button class="next-slide slide-botton"></button>
			</div>
		</div>

	</div>
	<div class="col-lg-9 col-xl-8">
		<div id="speacers-slider" class="owl-carousel">	
			<div class="slide-item">
				<include src="speaker-slide.html"></include>
			</div>
			<div class="slide-item">
				<include src="speaker-slide.html"></include>
			</div>
			<div class="slide-item">
				<include src="speaker-slide.html"></include>
			</div>
			<div class="slide-item">
				<include src="speaker-slide.html"></include>
			</div>
		</div>
	</div>
</div>	