</main>

<footer id="footer">

	<div class="container">
		<div class="row">	
			<div class="col-md-4">
				<img src="img/logo-blue.svg" alt="">
			</div>
			<div class="col-md-3">
				<div class="footer-widget">
					<ul class="footer-menu">
						<li>Cпикеры</li>
						<li>О конференции</li>
						<li>Темы</li>
						<li>Программа</li>
					</ul>
				</div>
			</div>
			<div class="col-md-3">
				<div class="footer-widget">
					<ul class="footer-menu">
						<li>Премия</li>
						<li>Формат</li>
						<li>Вопросы</li>
						<li>Партнёры</li>
					</ul>
				</div>
			</div>
			<div class="col-md-2">
				<div class="footer-widget">
					<ul class="footer-menu">
						<li>Пресса о нас</li>
						<li>Контакты</li>
					</ul>
				</div>
			</div>
		</div>
	</div>

</footer>


<script src="js/scripts.min.js"></script>
</body>
</html>