<!DOCTYPE html>
<html lang="ru">
<head>
	<title>Умные решения</title>
	<meta charset="utf-8">
	<base href="/">
	<meta name="description" content="">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
	<meta property="og:image" content="path/to/image.jpg">
	<link rel="icon" href="favicon.ico">
	<link rel="apple-touch-icon" sizes="180x180" href="apple-touch-icon.png">
	<meta name="theme-color" content="#fff">
	<link rel="stylesheet" href="css/main.min.css">
</head>

<body class="@@class">

	<header id="header">
		<div class="site-branding">
			<img src="img/logo.svg" alt="">
		</div>

		<button class="hamburger">
			<span class="line"></span>
			<span class="line"></span>
			<span class="line"></span>
		</button>
	</header>

	<div class="nav-menu-wrapper">
		<ul class="nav-menu">
			<li><a href="#">Спикеры</a></li>
			<li><a href="#">О конференции</a></li>
			<li><a href="#">Темы обсуждения</a></li>
			<li><a href="#">Программа</a></li>
			<li><a href="#">Премия IT Stars</a></li>
			<li><a href="#">Формат конференции</a></li>
			<li><a href="#">Пресса о нас</a></li>
			<li><a href="#">Контакты</a></li>
		</ul>
	</div>

	<main id="page-content">